{% extends 'layout/base.html' %}

{% block content %}
<div class="container pb-2 pt-4">
    <div class="row">
        <div class="col-xl-10 col-lg-10">
            <h2 class="title">MASC Engine</h2>
            <div>
            <span>
                History of current and previously ran processes
            </span>
            </div>
        </div>
        <div class="col-xl-2 col-lg-2 pt-4">
            <!--        <div class="d-flex justify-content-end align-items-end">-->
            <!--            <button class="btn btn-primary">Custom Operator</button>-->
            <!--        </div>-->
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-xl-12 col-lg-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                        <tr class="table-dark">
                            {% for header in custome_operator_headers %}
                            <th scope="col">{{ header }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for record in records %}
                        <tr>
                            <th scope="row">{{ record.id }}</th>
                            <td scope="row">{{ record.scope }}</td>
                            <td scope="row">{{ record.properties_name }}</td>
                            <td scope="row">{{ record.source_code.appName }}</td>
                            <td scope="row">
                                {% if record.status == 'running' %}
                                <span class="badge bg-warning">{{ record.status }}</span>
                                {% elif record.status == 'failed' %}
                                <span class="badge bg-danger">{{ record.status }}</span>
                                {% elif record.status == 'completed' %}
                                <span class="badge bg-success">{{ record.status }}</span>
                                {% endif %}
                            </td>
                            <td>
                                <a class="btn btn-primary" href="#">Details</a>
                                {% if record.status == 'completed' %}
                                <a class="btn btn-danger" href="#">Download</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
