# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# tests and coverage
*.pytest_cache
.coverage

# database & logs
*.db
*.sqlite3
*.log

# venv
.env
venv

# other
.DS_Store

# javascript
package-lock.json

staticfiles/*
!staticfiles/.gitkeep 
.vscode/symbols.json

modules/static/assets/node_modules
modules/static/assets/yarn.lock
modules/static/assets/.temp
modules/static/properties/previous_jar/app-all.jar
modules/static/properties/app/outputs

MainScope.log

app/outputs
