<nav class="navbar top-navbar navbar-expand-lg navbar-dark bg-nav">
    <div class="container-fluid">
        <div class="brand-wrapper d-flex justify-content-center align-items-center brand-nam-margin">
            <a class="navbar-brand" href="#">MASC</a>
            <div class="navbar-text">
                Mutation Analysis for evaluating Static Crypto-API misuse detectors 
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse align-cls" id="navbarText">
        <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item inner-nav-items">
            <a class="nav-link active" aria-current="page" href="#">About</a>
            </li>
            <li class="nav-item inner-nav-items">
            <a class="nav-link" href="#">Docs</a>
            </li>
            <li class="nav-item inner-nav-items">
            <a class="nav-link" href="#">Login</a>
            </li>
        </ul>
        
        </div>
    </div>
  </nav>