<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>
    MASC -  <b>M</b>utation <b>A</b>nalysis for evaluating <b>S</b>tatic <b>C</b>rypto-API misuse detectors
  </title>


  {% load static %}
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'bootstrap_icons/css/bootstrap_icons.css' %}">

  {% load static %}
  <link id="pagestyle" href="{% static 'assets/css/style.css' %}" type="text/css" rel="stylesheet" />

  <!-- Specific CSS goes HERE -->
  <!-- {% block stylesheets %}{% endblock stylesheets %} -->

</head>
<body class="ok">

  {% include 'components/header.html' %}

  {% block content %}{% endblock content %}

  {% include 'components/footer.html' %}
</body>
</html>
