<html>
<!DOCTYPE html>
<html>
<head>
  <title>Help</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'mascWeb.css') }}">
  <script type="text/javascript" src=""></script>
  </head>

<body>
  <div class="wrapper">
    <nav id="sidebar">
      <div class="sidebar-header">
        <h3>MASC Web</h3>
      </div>
      <ul class="list-unstyled components">
        <li>
          <a href="/"> Home </a>
        </li>
        <li>
          <a href="/deploy/">Deploy</a>
        </li>
        <li>
          <a href="#help">Help</a>
        </li>
        <li>
          <a href="/lab/">Lab</a>
        </li>
        <li>
          <a href="/about/">About</a>
        </li>
      </ul>
    </nav>
  <div id="content">
    <h1> HELP </h1>
    <h2> Architecture Diagram</h2>
    <img src="{{ url_for('static', filename='HighLevelArchitectureDiagramV3.png')}}" alt="architectureDiagram" width="528" height="408">
    <div>
      <h3> MASC-Core Components</h3>
      <h4> Concepts </h4>
        <p>
          The author of MASC created it as a research prototype, and invented terms on the fly. Some of these terms did not make sense later, and were dropped. Some of these still made somewhat sense, and survived. Therefore, this describes the high level concepts each of these terms represent, and then will describe how they interact with each other. This is also shown in the diagram above.
        </p>
        <h5> Layers </h5>
        <p>
          Layers are the abstraction at where MASC introduces mutation / makes mutation instances. There are three layers,
        </p>
        <ul>
          <li> <b>Barebone Layer</b>, where a minimal code / example is created that contains mutation, or misused Crypto API </li>
          <li> <b>Exhaustive Layer</b>, where a simple misuse instance is introduced through mutation at all possible reachable locations. This is done to verify that all reachable code locations are indeed scanned by analysis tools. </li>
          <li> <b>Selective Layer</b>, where we selectively mutate by finding existing crypto APIs usage. For example, if given input code has <code>Cipher.getInstance(...)</code> anywhere, it will selectively introduce misuse instances through mutation at location adjacent )i.e. below) that <code>Cipher.getInstance()</code> function call. </li>
        </ul>
        <h5 id="op"> Operators </h5>
        <p>
          Operators are responsible for the code snippet used as part of the mutation. For example, it can mean something simple, such as creating the following code:
        </p>
        <span> <code>Cipher.getInstance(&lt;param&gt;)</code></span>
        <p>
          As this code will be inserted while mutating source code, or <em>creating mutation instance</em>.
        </p>
        <p>
          It can also represent something partial, which will be responsible for mutation instance. An example is introducing a call to a function (A) through mutation, where the function belongs to a class (B) that does not exist in the code in the first place. Or, it can be creating an anonymous inner class object (A) from a class (B) that is not part of the code!
        </p>
        <p>
          However, To make the call real, we need to introduce the class (B) in the code base. That is achieved through <a href="#maker"><b>Maker</b></a> and <a href="#builder"><b>Builders</b></a>. An example for this type of operator is FlexibleOperator. It is only concerned about the call (A) and not the reference (B) the call is making. Therefore, it will create something like this
        </p>
        <code><pre>
        new CryptoTestExt(){
          public boolean verify(java.lang.String arg0, javax.net.ssl.SSLSession arg1) {
    	       return true;
           }
         </pre></code>
          <p>
            However, the CryptoTestExt is from a class that is not present, so trying to compile a code that contains the above snippet will inevitably fail.
          </p>
          <p>
            A Builder, will build the necessary structures for those necessary references.
          </p>
        <h5 id="builder"> Builders </h5>
        <p>
          As discussed above, builders take care of creating necessary structures that are required by operators.
        </p>
        <p>
          An example is:
        </p>
        <code> public interface CryptoTestExt implements javax.net.ssl.HostnameVerifier{ } </code>
        <br>
        <p>
          The builder here is creating the interface CryptoTestExt. Of course, it was given the name of the interface, the name of the interface it is implementing, as well as the nature of inheritance.
        </p>
        <h5 id="maker"> Makers </h5>
        <p>
          Makers are more a part of the Bare-bone Layer. Maker makes workable, minimal applications that contains a particular Crypto API misuse instance. Therefore, it will be creating something like this while depending on both <b>Operator</b> and <b>Builder</b>:
        </p>
        <code><pre>
          public class CryptoTest { --- (1)
            public static void main(java.lang.String[] args) throws java.lang.Exception {
              java.lang.System.out.println("Hello");

              new CryptoTestExt(){ -- (2)
              public boolean verify(java.lang.String arg0, javax.net.ssl.SSLSession arg1) {
    	           return true;
               }
               };
             }
           }
        </pre></code>
        <p>
          Where the body starting from (1) is created through <a href="#maker"><b>Maker</b></a>, but the anonymous inner class object (2) is actually coming from the <a href="#op"><b>Operator</b></a>!
        </p>
        <hr>
        <h3> Extending Barebone</h3>
        <h4> Create a type under OperatorType </h4>
        <p>
          First, you need to define a name that represents the operator type. For example, <em>StringDifferentCase</em> represents an operator that deals with a String parameter being given to a crytpo API in a different case from what people usually use. An example of misuse instance in this case would be passing <em>aes</em> instead of <em>AES</em>. However, Operators are generic in terms of mutation, so it will receive the input String and will create misuse instance based on that input String.
        </p>
        <p>
          The following are the currently available operators in MASC. Each of these operators belong to one type of RootOperatorType conceptually.
        </p>
        <p>
          Current operators are:
        </p>
        <code><pre>
          public enum OperatorType {
              StringDifferentCase,
              StringNoiseReplace,
              StringSafeReplaceWithUnsafe,
              StringUnsafeReplaceWithUnsafe,
              StringStringCaseTransform,
              StringValueInVariable,
              ByteLoop,
              ByteCurrentTime,
              Interproc,
              AIOEmptyFromAbstractType,
              AIOEmptyAbstractClassExtendsAbstractClass,
              AIOEmptyAbstractClassImplementsInterface,
              AIOEmptyInterfaceExtendsInterface,
              AIOGenericAbstractClassExtendsAbstractClass,
              AIOGenericAbstractClassImplementsInterface,
              AIOGenericInterfaceExtendsInterface,
              AIOSpecificAbstractClassExtendsAbstractClass,
              AIOSpecificAbstractClassImplementsInterface,
              AIOSpecificInterfaceExtendsInterface,
          }
        </pre></code>
        <p>
          All of these operators belong to one of the following RootOperatorTypes conceptually. The word conceptual is important: they are grouped together based on the concept they represent in the MASC setting.
        </p>
        <code> <pre>
          public enum RootOperatorType {
              StringOperator,
              ByteOperator,
              Interproc,
              Flexible
          }
        </code></pre>
        <h4> Implementing each of the operators </h4>
        <p>
          After naming your Operator, you can start defining them. The following rules apply:
        </p>
        <ul>
          <li> The implemented operator name must follow the type name from <em>OperatorType</em>. It is a requirement for consistency. </li>
          <li> Each of the operators must implement the <em>IOperator</em> interface. An example is <em>InterProcOperator</em>. </li>
          <li> They might also be under an abstract class implementing the interface, Examples are <em>AStringOperator</em> for all String based Operators, and <em>AByteOperator</em> for all byte based operators. Note that both <em>AStringOperator</em> and <em>AByteOperator</em> implements the <em>IOperator</em> interface. </li>
          <li> The norm is to create fields used in the abstract class which can be used by the concrete operators, and then receive it from the related properties file. A concrete operator may not have to use all of those fields, but these are made available regardless.</li>
        </ul>
        <h4> Creating Properties file </h4>
        <p>
          Since Operators rely on properties files for creating misuse instances (for example: the name of String, the crypto API to be used) Create a <em>.properties</em> file first, it should have at least the following keys
        </p>
        <code><pre>
          type = &lt;Type that is from RootOperatorType Enum&gt;
          output_dir = /Users/amitseal/workspaces/mutationbackyard/reproduce
          api_name =  javax.net.ssl.X509TrustManager
          className = CryptoTest
          otherClassName = CryptoTestExt
        </pre></code>
        <p>
          A properties reader should be created by extending the <code>edu.wm.cs.masc.properties.AOperatorProperties</code>. The <em>AOperatorProperties</em> already contains appropriate methods for the keys mentioned. The extended class needs to do similarly using <em>reader.get</em> for the keys.
        </p>
    </div>
  </div>
</div>
</body>
