<!DOCTYPE html>
<html>
<head>
  <title> Main Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'mascWeb.css') }}">
  <script src=""></script>
  </head>

<body>
    <div class="wrapper">
      <nav id="sidebar">
        <div class="sidebar-header">
          <h3>MASC Web</h3>
        </div>
        <ul class="list-unstyled components">
          <li>
            <a href="#home"> Home </a>
          </li>
          <li>
            <a href="/deploy/">Deploy</a>
          </li>
          <li>
            <a href="/help/">Help</a>
          </li>
          <li>
            <a href="/lab/">Lab</a>
          </li>
          <li>
            <a href="/about/">About</a>
          </li>
        </ul>
      </nav>

  <div id="content">
    <p>
      Welcome to MASC Web! Get started with <a href="/deploy/">Deploy</a> and get an overview of the framework with <a href="/help/">Help</a>. There is also <a href="/lab/">Lab</a> so that you can run MASC on the website without having to get the project on your local machine. If you would like to read the papers associated with the project or contact the creator you can find this information in the <a href="/about/">About</a> section.
    </p>
    <h2> Getting Started </h2>
    <p>
      Download the project from <a href="https://github.com/Secure-Platforms-Lab-W-M/MASC-Artifact"> HERE</a> to get started. If you would like to use IntelliJ to run the project (like we recomend) go to <a href ="https://www.jetbrains.com/idea/download/#section=mac">HERE</a>. Make sure to select the community version of IntelliJ. Once both the project is installed and IntelliJ, follow the intructions found in <a href="/deploy/">Deploy</a>.
    </p>
  </div>
  </div>
</body>
