{% extends 'layout/base.html' %}

{% block content %}

<!--<div class="d-flex justify-content-center align-items-center welcome">-->
<!--    <h2><b>M</b>utation <b>A</b>nalysis for evaluating <b>S</b>tatic <b>C</b>rypto-API misuse detectors</h2>-->
<!--</div>-->
<div class="container pb-2 pt-4">
    <div class="row">
        <div class="col-xl-10 col-lg-10">
            <h2 class="title">🤝 About MASC</h2>
            <div>
            <span>
            Learn More About MASC
            </span>
            </div>
        </div>
    </div>
</div>
{% endblock content %}