{% extends 'layout/base.html' %}

{% block content %}
<div class="container pb-2 pt-4">
    <div class="row">
        <div class="col-xl-9 col-lg-9">
            <h2 class="title">Properties File Manager</h2>
            <div>
            <span>
                Dot propeties file currently available to your system
            </span>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 pt-4">
            <div class="d-flex justify-content-end align-items-end">
                <a href="upload" class="btn btn-primary">Upload New Propeties File</a>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-xl-12 col-lg-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                        <tr class="table-dark">
                            {% for header in uploaded_files_header %}
                            <th scope="col">{{ header }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for file in records %}
                            <tr>
                                <th>{{ file.id }}</th>
                                <td>{{ file.name }}</td>
                                <td>{{ file.filename }}</td>
                                <td>{{ file.path }}</td>
                                {% if file.type == 'StringOperator' %}
                                    <td>
                                        <span class="badge bg-warning">{{ file.type }}</span>
                                    </td>
                                {% elif file.type == 'ByteOperator' %}
                                    <td>
                                        <span class="badge bg-success">{{ file.type }}</span>
                                    </td>
                                {% elif file.type == 'InterprocOperator' %}
                                    <td>
                                        <span class="badge bg-primary">{{ file.type }}</span>
                                    </td>
                                {% elif file.type == 'IntOperator' %}
                                    <td>
                                        <span class="badge bg-danger">{{ file.type }}</span>
                                    </td>
                                {% elif file.type == 'Flexible' %}
                                    <td>
                                        <span class="badge bg-info">{{ file.type }}</span>
                                    </td>
                                {% endif %}
                                <td>
                                    <a class="btn btn-primary" href="{% url 'editProperties' id=file.id %}">Edit</a>
                                    <button class="warning">Delete</button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
